.text {
  padding: 3rem 1rem;
}

.text aside {
  margin-top: 3rem;
  font-weight: 500;
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.intro, .last {
  padding: 1rem;
}

.vstup {
  margin-bottom: 1rem;
  font-weight: 500;
}

@media (min-width: 720px) {
  .intro, .last {
    padding: 2rem;
  }

  .vstup {
    margin-bottom: 2rem;
  }

  .text {
    padding: 2rem;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .text .main {
    grid-column: span 8;
    padding-left: calc(1 / 8 * 100%);
    order: 1;
  }

  .text aside {
    font-size: 1.5rem;
    line-height: 2rem;
    grid-column: span 4;
    text-align: left;
  }

  .right .main {
    order: 0;
    padding-right: calc(1 / 8 * 100%);
    padding-left: 0;
  }
}

@media (min-width: 960px) {
  .intro, .last {
    padding: 4rem;
  }

  .vstup {
    margin-bottom: 4rem;
  }

  .text {
    padding: 4rem;
  }
}

@media (min-width: 1280px) {
  .intro, .last {
    padding: 4rem calc(3 / 18 * 100%);
  }

  .last {
    padding-top: 0;
  }

  .text {
    padding: 4rem calc(3 / 18 * 100%);
  }
}

@media (min-width: 1600px) {
  .intro {
    padding: 8rem calc(3 / 18 * 100%);
  }

  .text {
    padding: 8rem calc(3 / 18 * 100%);
  }
}
