@import-normalize;

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  hyphens: auto;
  padding: 0;
  margin: 0;
  /* font-smoothing: antialiased */
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

@media (min-width: 720px) {
  body {
    font-size: 1.125rem;
    line-height: 2rem;
  }
}

p {
  margin: 0 0 0.5rem;
}

p:last-child {
  margin-bottom: 0;
}
