@import-normalize;

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  /* font-smoothing: antialiased */
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}


@custom-media --s (min-width: 720px);
@custom-media --m (min-width: 960px);
@custom-media --l (min-width: 1280px);
@custom-media --xl (min-width: 1600px);
