.slider {
  position: relative;
  padding: 0 1rem 1rem;
}

.navs {
  display: flex;
}

.nav {
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  border: 1px solid #C4C3C1;
  border-radius: 50%;
  text-align: center;
  margin-right: 0.5rem;
}

.nav:last-child {
  margin-right: 0;
}

.active {
  border: 2px solid #141414;
}

.images {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  margin-bottom: 1rem;
}

.image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.image:before {
  display: block;
  content: '';
  padding-top: calc(3 / 4 * 100%);
}

@media (min-width: 720px) {
  .slider {
    padding: 0 2rem 2rem;
  }

  .images {
    margin-bottom: 1.75rem;
  }

  .nav {
    width: 2rem;
    height: 2rem;
  }
}

@media (min-width: 960px) {
  .slider {
    padding: 0 4rem 4rem;
  }

  .images {
    margin-bottom: 1.75rem;
  }
}

@media (min-width: 1240px) {
  .slider {
    padding: 0 calc(3 / 18 * 100%) 4rem;
  }

  .images {
    margin-bottom: 1.75rem;
  }
}
